fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-openai
langsmith
openai
pandas
pypdf
faiss-cpu
python-multipart
Jinja2
structlog
python-dotenv
docx2txt
sentence-transformers